.container {
    width: 90%;
    margin: auto
    
}

.headings-git {
    text-align: left ;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 185px;
}

.flex-container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 15px;
}

.flex-container > div{
    border-radius: 5px;
    padding: 8px;
  }


  .business-inquiries { 
    /* flex:0 1 auto; */
    order:0;
    align-self:auto;
  }


  .parent {
    display: grid;
    
    width: 75%;
    margin: auto 325px;
    grid-template-columns: repeat(5);
    grid-template-rows: repeat(5);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }

    .bold {
        font-weight: bold;
    }



@media only screen and (max-width: 1150px) {
.flex-container {
    flex-direction: column;
    text-align: center;
}
.parent {
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .mtt-title {
    text-align: center;
    padding: 0 0;
  }

}