
.container {
  width: 90%;
  margin: auto;
}

/* 
* Font styles
 */

 h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
 }

 .bold {
  font-weight: bold;
 }

/* About Section */

#about {
  border-bottom: 1px #CCCCCC solid;
}

.header-img {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  justify-self: center;

}

/* Our Story section */



.our-story-wrapper {
  padding: 4rem 0;
}

.margin-bottom-xsmall {
  margin-bottom: 1rem;
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}

/* Meet the Team */

.mtt-title {
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: center;
}

.person-name {
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: .75rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 20px;
  row-gap: 20px;
  padding: 4rem 0;
}

.grid-container .grid-item img {
  width: 100%;
}

.grid-item {
  font-size: 1rem;
  text-align: left;
}

.first {
  grid-column: 1 / 7;
}

.j-c {
  justify-content: space-between;
}

/* Responsive Mett the team */

@media only screen and (max-width: 1440px) {
  .grid-container {
    grid-template-columns: auto auto auto auto auto;
  }

  .first {
    grid-column: 1 / 6;
  }
  
}

@media only screen and (max-width: 1220px) {
  .grid-container {
    grid-template-columns: auto auto auto auto;
  }

  .first {
    grid-column: 1 / 5;
  }
}

@media only screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .first {
    grid-column: 1 / 4;
  }
}

@media only screen and (max-width: 700px) {
  .grid-container {
    grid-template-columns: auto auto;
    justify-content: center;
  }

  .margin-bottom-small {
    text-align: center;
  }

  .first {
    grid-column: 1 / 3;
  }
}

@media only screen and (max-width:500px) {

  .grid-container {
    grid-template-columns: auto;
    justify-content: center;
  }

  .first {
    grid-column: 1 / 2;
    text-align: center;
  }
}

/* Footer Styling */
footer {
  padding-top: 22px;
  padding-bottom: 25px;
}

.grid-container2 {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  row-gap: 20px;
}

.grid-item-f {
  text-align: left;
}

/* Footer Responsive */

@media only screen and (max-width: 800px) {
  .grid-container2 {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 700px) {
  .grid-container2 {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 500px) {
  .grid-container2 {
    grid-template-columns: auto;
    justify-content: center;
  }
  .center {
    text-align: center;
  }
}